body {
  margin: 0;
}

#screen {
  width: 100vw;
  height: 56.25vw;
  background-color: green;

  overflow: hidden;
  position: relative;
}
.coin {
  position: absolute;

}

.coin_sprite {
  width: 10vw;
  height: 10vw;
  background-image: url(coin.svg);
  background-size: 100%;
}

#coin0 {
  left: 0vw;
/*  top: 10vw;*/
}

#coin1 {
  left: 15vw;
/*  top: 5vw;*/

  animation-delay: .4s;
}

#coin2 {
  left: 35vw;
/*  top: 30vw;*/

  animation-delay: .7s;
}

#coin3 {
  left: 50vw;
/*  top: 25vw;*/

  animation-delay: 1s;
}

#diamond {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-image: url(diamond.svg);
  background-size: 100%;

  left: 25vw;
  top: 20vw;

  animation-duration: 1.5s;
}

#bomb {
  position: absolute;

  width: 120vw;
  height: 120vw;

  background-image: url(bomb.svg);
  background-size: 100%;
  left: 50vw;
  top: 30vw;

  transform: translate(-55vw,-55vw) scale(.1);
}
/* effekter */
.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}


/* animationer */
.paused {
  animation-play-state: paused;
}


.falling {
  animation-name: falling_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* sikr at vi altid er uden for skærmen, hvis animationen er delayet */
  top: -10vw;
}

@keyframes falling_kf {
  from{
    top: -10vw;
  }
  to {
    top: 60vw;
  }
}

.dissappear {
  animation-name: dissappear_kf;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.59,-0.56,.77,1.34);
  animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.explode {
  animation-name: explode_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes explode_kf {
  from {
    transform: translate(-55vw,-55vw) scale(.1) rotate(0);
  }
  to {
    transform: translate(-55vw,-55vw) scale(3) rotate(-30deg);
  }
}

.shake {
/*  background-color: red;*/
  width: 100vw;
  height: 56.25vw;

  animation-name: shake_kf;
  animation-duration: .2s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes shake_kf {
  0% {
    background-color: transparent;
    transform: rotate(0) scale(1);
  }

  10% {
     background-color: rgba(255, 246, 27, 0.7);
    transform: rotate(-5deg) scale(1.5);
  }

  50% {
    background-color: rgba(255, 165, 0, 0.7);
    transform: rotate(10deg) scale(1.5);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.7);
    transform: rotate(-10deg) scale(1.5);
  }
}

/* UI */
#points {
  position: absolute;
  left: 90vw;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
}

#points .coin {
  display: inline-block;
  background-image: url(coin.svg);
  background-size: 100%;
  width: 1em;
  height: 1em;
}

#points .antal {
/*  outline: 2px solid red;*/
  font-feature-settings: tnum;
  width: 4ex;
  text-align: right;
}

#energy {
  position: absolute;
  left: 90vw;
  top: 30px;
  width: 4em;
/*  outline: 2px solid red;*/
  display: flex;
  justify-content: space-between;
}

.heart {
  width: 1em;
  height: 1em;
  background-image: url(heart.svg);
  background-size: 100%;
}
